extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug

block main
  div(
    class="alert alert-success alert-hidden"
    alert-add-cart-success
  ) Đã thêm vào danh sách ghép đôi! <span close-alert>x</span>
  .partner-detail
    .container.my-3
      .row
        .col-6
          if(partnerDetail.images)
            .inner-images
              div(class="swiper imagesMain")
                div(class="swiper-wrapper")
                  each image in partnerDetail.images
                    div(class="swiper-slide")
                      .inner-image 
                        img(src=image)
                div(class="swiper-button-next")
                div(class="swiper-button-prev")
              div(class="swiper imagesThumb")
                div(class="swiper-wrapper")
                  each image in partnerDetail.images
                    div(class="swiper-slide")
                      .inner-image
                        img(src=image)
        .col-6
          .inner-title #{partnerDetail.title}
          .inner-barcode
            i.fa-solid.fa-barcode Mã partner: #{partnerDetail.code}
          form(
            form-add-to-cart
            tour-id=partnerDetail.id
          )
            input(
              class="form-control mb-2"
              type="number"
              name="quantity"
              value="1"
              min="1"
              max=10
            )
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Ghép đôi
      .row
        .col-12
          .inner-infomation
            .inner-label Thông tin người dùng
            .inner-text !{partnerDetail.information}
