extends ../../layouts/default.pug

block main
  .container.my-3
    h1.title Thông tin cá nhân

    .profile-card
      .profile-header
        h2 #{user.Name}
        p.email #{user.Email}
      
      form(action="/profile/edit" method="POST")
        .profile-details
          .form-group
            label(for="name") Tên
            input(type="text" id="name" name="name" value=user.Name)

          .form-group
            label(for="email") Email
            input(type="email" id="email" name="email" value=user.Email)

          .form-group
            label(for="dateOfBirth") Ngày sinh
            input(type="date" id="dateOfBirth" name="dateOfBirth" value="#{user.DateOfBirth ? user.DateOfBirth.toISOString().split('T')[0] : ''}")

          .form-group
            label(for="gender") Giới tính
            select(id="gender" name="gender")
              option(value="man" selected=user.Gender === 'man') Nam
              option(value="woman" selected=user.Gender === 'woman') Nữ

          .form-group
            label(for="major") Ngành học
            input(type="text" id="major" name="major" value=user.Major)

        button(type="submit") Cập nhật thông tin

    button(onclick="window.location.href='/logIn/logout'") Đăng xuất

  // CSS trực tiếp cho trang thông tin cá nhân
  style.
    body {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 1.6rem;
      background-color: rgba(17,20,24,255);
      color: white;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #2c2f33;
      border-radius: 8px;
    }

    .title {
      text-align: center;
      margin-bottom: 30px;
      color: #ff6347; /* màu tiêu đề */
    }

    .profile-card {
      background-color: #23272a;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .profile-details {
      margin-top: 20px;
    }

    .profile-details .detail {
      margin-bottom: 10px;
      font-size: 1.6rem;
    }

    .profile-details .detail strong {
      color: #ff6347; /* màu tiêu đề chi tiết */
    }

    .profile-details .detail span {
      color: #b0b3b8; /* màu chi tiết */
    }

    .form-group {
      margin-bottom: 20px;
    }
    .form-group label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .form-group input, .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #333;
      border-radius: 8px;
      background-color: white; /* Màu nền input */
      color: black; /* Màu chữ trong input */
    }

    button {
      display: block;
      width: 100%;
      padding: 10px 0;
      border: none;
      border-radius: 5px;
      background: linear-gradient(90deg, #ff6347, #ff1493);
      color: white;
      font-size: 1.6rem;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    button:hover {
      background: linear-gradient(90deg, #ff1493, #ff6347);
    }
